@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
}
img{
    width: 40%;
    display: block;
    object-fit: cover;
}
body{
    width: 100%;
    height: 100vh;
    background-color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    display: grid;
    gap: 50px;
}
nav{
    margin-top: 20px;
    font-family: 'Orbitron', sans-serif;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}
.menu-list{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
.link{
    color: #333;
    display: block;
    text-decoration: none;
    transition: all 0.5 ease-in-out;
    transition: all .4s ease-out;
}
.link:hover{
    font-size: 1.1em;
    font-weight: 700;
}
.link:active{
    font-size: 1.1em;
    font-weight: 700;
}
.logo>*{
    width: 100px;
}
header{
    color: #333;
    font-family: 'Orbitron', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
}

.countrys{
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
}
.country{
    text-align: center;
    width: 100%;
    margin: 80px auto;
    border-bottom:  1px  solid #ccc;
}
.sum{
    cursor: pointer;
    outline: none;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 20px;
    background-color: #ddd;
    list-style: none;
    padding: 10px;
    width: 100%;
    border-radius: .4em;
    transition: 0.3s ease-in-out;
}
details[open] summary~ *{
    padding: 0.5em;
    animation: sweep .5s ease-in-out;
}
details a{
    margin: .5rem 0;
    text-decoration: none;
    color: #333;
}
@keyframes sweep {
    from{
        opacity: 0; margin-top: -10px;
    }
    to{
        opacity: 1; margin-top: 0;
    }
}
.sinopsis{
    background-color: rgb(28, 28, 28);
    color: #ddd;
    border-radius: .3em;
    margin-top: 1rem;
    margin-bottom: .5rem;
}
.isi{
    margin-top: 2em;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    background-color: #232323;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5) ;
    animation: sweep .5 ease-in-out;
}
.sticky>li>a{
    color: #ddd;
}
.hide{
    display: none;
}


@media (max-width:768px){
    nav{
        grid-template-columns: 1fr;
    }
    header{
        grid-template-columns: 1fr;
    }
    .sub-heading{
        font-size: small;
    }
}
@media (min-width:768px) {
    .countrys{
        padding: 4em;
    }
}